.word {
    color: red;
  }
  .button {
    border: 1px solid aquamarine;
    border-radius: 5px;
    background-color: green;
    padding: 7px;
    color: aquamarine;
    font-size: 5px;
  }
  .block {
    background-color: green;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
  }
  .free {
    font-size: 15px;
    border: none;
    padding: 5px;
    background-color: rgb(22, 100, 22);
  }
  .small-text {
    font-size: 10px;
  }
  .medium-text {
    font-size: 15px;
    margin: 2px;
  }
  .large-text {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .circle-container{
    margin-left: 20%;
  }
  .circle{
    margin: 25px;

    background-color: aqua;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: inline-block;
    text-align: center;
  }